---
layout: default
title: "Authors"
permalink: "/authors.html"
---

<h1>Authors</h1>

<div class="authors-list">
  <ul class="list-inline">
    {% assign sorted_authors = site.authors | sort %}
    {% for author in sorted_authors %}
      <li class="list-inline-item">
        <a href="#{{ author[0] | slugify }}" class="author-link">{{ author[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="row listrecent">
  {% for author in sorted_authors %}
    <div class="section-title col-md-12 mt-4">
      <h2 id="{{ author[0] | slugify }}"><span class="text-capitalize">{{ author[0] }}</span></h2>
    </div>

    {% assign author_posts = site.posts | where: "author", author[0] %}
    {% for post in author_posts %}
      <div class="post-list">
        <p class="post-item">
          <strong><a href="/author/{{ author[0] | slugify }}/">{{ author[0] }}</a></strong> |
          {{ post.date | date: "%B %d, %Y" }} |
          <a href="{{ post.url }}">{{ post.title }}</a>
        </p>
      </div>
    {% endfor %}
  {% endfor %}
</div>
